ul {
  list-style: none;
  padding: 10px 10px;
}

button {
  height: 2rem;
  width: 40px;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid black;
  margin: 0 5px;
}

button:disabled {
  background-color: black;
  color: white;
}

.news {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

.articles-container {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.article {
  align-items: center;
  background-color: lightgrey;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 3px 3px 6px 0px  rgba(0,0,0,0.3);
  display: flex;
  flex-flow: row;
  margin: 5px 0;
  padding: 10px 10px;
  width: 90%;
}

.article-image-link {
  align-items: center;
  display: flex;
  flex-flow: row;
}

.article-info {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  width: 100%;
}

.article-details {
  background-color: white;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding-bottom: 20px;
  width: 100%;
}

.article-details > ul {
  line-height: 1.5;
}

.article-details > a {
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 10px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

.article-image {
  align-items: center;
  display: flex;
  flex-flow: row;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.article-image img {
  align-self: center;
  border-radius: 5px 5px 0 0;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.pagination > ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: 0;
  margin: 0;
  padding-left: 0;
}

@media screen and (min-width: 700px) {
  .article-info {
    flex-flow: row;
  }

  .article-image {
    max-width: 20%;
    min-width: 20%;
  }

  .article-image img {
    border-radius: 5px 0 0 5px;
    height: 250px;
  }

  .article-details {
    border-radius: 0 5px 5px 0;
    width: 80%;
  }
}